@charset 'UTF-8';



/// ------------------------------------------------------------
/// Global @MIXIN 
/// 
/// READ MORE
/// Update Version: 2.0.0  
/// Update Date: 2025.01.
/// ------------------------------------------------------------
/// ------------------------------------------------------------
/// @MIXIN :: Media Querys
/// 
/// * prefix : meq-*
/// ------------------------------------------------------------

/// IE를 지원하는 브라우저일 경우 코드 적용
/// @access public
@mixin meq-supports-ie {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { @content; }    
}

/// HOVER 가상 속성을 지원하는 브라우저일 경우 코드 적용
/// @access public
/// @param {number} $exec: 0, 1
@mixin meq-hover($exec: 1) {
  @media ( hover : hover ), (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @if $exec == 1 { &:hover { @content; } }
    @else { @content; }
  }
}


/// ------------------------------------------------------------
/// Global @MIXIN :: Text
/// ------------------------------------------------------------

/// @access public
/// @param {} None
/// - 텍스트 줄임(단행)
@mixin __line-clamp { 
  overflow:hidden;  
  white-space:nowrap; 
  @include prefix( text-overflow, ellipsis, "o" "ms" "" );
}

/// @access public
/// @param { Value } $font-size : font-size
/// @param { Value } $line-height : line-height
/// @param { Value } $line-clamp : output lines
/// @param { Value } $fixed : none | 1
/// - 텍스트 줄임(단행)
@mixin line-clamp ( $font-size, $line-height : none, $line-clamp : 1, $fixed : none ) {    
  display : -webkit-box;
  @include set-prefix( box-orient, vertical, "moz" "webkit" "" );

  @if ( $line-height == none ) { $line-height : #{$font-size}; } // set default line-height    
  @if not ( $fixed == none ) { height : calc($line-height * $line-clamp); } // set height 

  max-height : calc($line-height * $line-clamp);
  line-height : $line-height;
  font-size : $font-size;
  word-wrap:normal; 
  // word-wrap: break-word;
  overflow : hidden;
  // -webkit-line-clamp : $line-clamp;
  // line-clamp: $line-clamp;
  @include set-prefix( line-clamp, #{$line-clamp}, "webkit" "" );    
  @include set-prefix( text-overflow, ellipsis, "o" "ms" "" );
}



/// ------------------------------------------------------------
/// @MIXIN :: Media Querys
/// 
/// * prefix : meq-*
/// ------------------------------------------------------------

/// 속성에 브라우저 접두사 설정 
/// @access public
/// @param {string} $property
/// @param {*} $value
/// @param { list | string |none } $prefixes [()]
/// @example prefix(width, 100px, "ms" "o" "moz" "webkit" "")
@mixin set-prefix( $property, $value, $prefixes: none ) {
  @if ( $prefixes == none ) { 
    $prefixes : ("ms" "o" "moz" "webkit" ""); 
  }
  @else if ( type-of($prefixes) == string ) {

    @if ( to-lower-case($prefixes) == "webkit" ) { $prefixes : ( "webkit" "" ); }
    @else { $prefixes: ( "" ); }
    
  } 

  @each $pre in $prefixes {
    @if $pre == "" { #{$property}: $value; }
    @else { -#{$pre}-#{$property} : $value; }
  } /// end @each

}