@charset 'UTF-8';

/// --------------------------------------------------------------
/// # body
/// --------------------------------------------------------------
body {
  // 배경 그레디언트 
  $c1: rgba(37, 89, 244, 0.2);
  $c2: rgba(94, 130, 237, 0.2);
  $c3: rgba(110, 201, 247, 0.2);
  $c4: rgba(214, 235, 245, 0.2);

  
  background: -moz-linear-gradient(315deg, #{$c1} 3%, #{$c2} 38%, #{$c3} 68%, $c4 98%);
  background: -webkit-linear-gradient(315deg, #{$c1} 3%, #{$c2} 38%, #{$c3} 68%, $c4 98%);
  background: linear-gradient(315deg, #{$c1} 3%, #{$c2} 38%, #{$c3} 68%, $c4 98%);
  @include set-prefix( animation, bg-gradient 15s ease infinite, 'webkit' '' );
  background-size: 400% 400%;
  background-attachment: fixed;
}
@keyframes bg-gradient {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}