.unionIcon {
  	width: 26px;
  	position: relative;
  	max-height: 100%;
}
.unionWrapper {
  	width: 42px;
  	border-radius: 10px;
  	background-color: #2559f4;
  	height: 42px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
}
.vita {
  	position: relative;
  	letter-spacing: 0.05em;
  	line-height: 150%;
  	font-weight: 800;
}
.iconsLine {
  	width: 12px;
  	position: relative;
  	max-height: 100%;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.iconsLineParent {
  	width: 42px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	gap: 0px;
}
.frameWrapper {
  	width: 54px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-end;
}
.vitaParent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: space-between;
  	gap: 0px;
}
.healthcareAiChatBot {
  	align-self: stretch;
  	position: relative;
  	font-size: 13px;
  	letter-spacing: 0.02em;
  	line-height: 100%;
}
.frameGroup {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-start;
  	gap: 6px;
}
.frameParent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 10px;
}
.iconsLine2 {
  	width: 18px;
  	position: relative;
  	height: 18px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.dashboard {
  	width: 150px;
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 140%;
  	display: inline-block;
  	flex-shrink: 0;
}
.dashboardWrapper {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.iconsLineGroup {
  	width: 200px;
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 0px;
  	box-sizing: border-box;
  	gap: 12px;
}
.iconsLine4 {
  	width: 12px;
  	position: relative;
  	max-height: 100%;
  	overflow: hidden;
  	flex-shrink: 0;
}
.iconsLineContainer {
  	width: 200px;
  	border-top: 1px solid #eee;
  	border-bottom: 1px solid #eee;
  	box-sizing: border-box;
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 0px;
  	gap: 12px;
  	font-size: 16px;
  	color: #333;
}
.div {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 0.05em;
  	line-height: 150%;
}
.div1 {
  	flex: 1;
  	position: relative;
  	letter-spacing: 0.05em;
  	line-height: 150%;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
}
.wrapper {
  	width: 160px;
  	border-radius: 7px;
  	background-color: #f4f4f4;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 9px 6px;
  	box-sizing: border-box;
}
.frameDiv {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 3px;
}
.frameContainer {
  	width: 160px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	font-size: 12px;
  	color: #aaa;
}
.parent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.frameParent1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 3px;
  	font-size: 12px;
  	color: #aaa;
}
.instanceGroup {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-start;
  	gap: 16px;
  	font-size: 14px;
  	color: #000;
}
.iconsLineParent1 {
  	width: 200px;
  	border-top: 1px solid #eee;
  	border-bottom: 1px solid #eee;
  	box-sizing: border-box;
  	height: 40px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 10px 0px;
  	gap: 12px;
}
.div12 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 140%;
}
.wrapper8 {
  	width: 18px;
  	border-radius: 3px;
  	border: 1px solid #ffaa33;
  	box-sizing: border-box;
  	height: 18px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 6px;
}
.div13 {
  	width: 100px;
  	position: relative;
  	font-size: 14px;
  	letter-spacing: -0.02em;
  	line-height: 150%;
  	color: #aaa;
  	display: inline-block;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	flex-shrink: 0;
}
.div14 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 140%;
  	font-weight: 500;
}
.iconsLine7 {
  	width: 9px;
  	position: relative;
  	height: 12px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.up {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-end;
  	justify-content: flex-end;
}
.instanceParent2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.down {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-end;
  	color: #777;
}
.instanceParent5 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 16px;
}
.instanceParent1 {
  	width: 178px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
  	font-size: 10px;
  	color: #ffaa33;
}
.instanceContainer {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
}
.iconsLineParent3 {
  	border-radius: 7px;
  	border: 1px solid #33bbff;
  	box-sizing: border-box;
  	height: 18px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 6px;
  	gap: 6px;
  	color: #33bbff;
}
.wrapper13 {
  	border-radius: 7px;
  	border: 1px solid #777;
  	box-sizing: border-box;
  	height: 18px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 6px;
}
.instanceParent8 {
  	width: 180px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-end;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 6px 3px;
  	font-size: 10px;
  	color: #777;
}
.instanceParent7 {
  	width: 200px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-start;
  	gap: 16px;
}
.instanceParent {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	font-size: 16px;
}
.profilePhotoIcon {
  	width: 36px;
  	position: relative;
  	height: 36px;
}
.user777 {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 140%;
  	font-weight: 600;
}
.iconsLineParent8 {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
}
.user777Parent {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 6px;
}
.iconsLineWrapper {
  	width: 24px;
  	border-radius: 30px;
  	background-color: #999;
  	height: 24px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 10px;
  	box-sizing: border-box;
}
.profilebox {
  	width: 200px;
  	border-radius: 24px;
  	background-color: #eee;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	padding: 6px 12px;
  	box-sizing: border-box;
  	gap: 0px;
  	font-size: 12px;
}
.sidebar {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 1080px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 24px 24px 32px;
  	box-sizing: border-box;
  	gap: 32px;
  	text-align: left;
  	font-size: 32px;
  	color: #333;
  	font-family: Pretendard;
}

