@charset 'UTF-8';

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/// --------------------------------------------------------------
/// # 공통 속성 및 요소 
/// --------------------------------------------------------------
/// - 
/// --------------------------------------------------------------
:root {
  @each $key, $value in $color-palette {
    
    @if ( type-of( $value ) == map ) {
      
      @each $name, $color in $value {

        @if $name == "" { --app-color-#{$key}: #{$color}; }
        @else { --app-color-#{$key}-#{$name}: #{$color}; }

      }

    } // @if

  } // @each
}

html { }

html, body {
  
  color: var(--app-color-text-body);
  font-size: 16px;
  
  line-height: 1.5;

  
}

body {
  background-image: URL("../assets/resources/index.webp");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
  // font-family: 'Noto Sans KR', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Nanum Gothic', sans-serif;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
}

// clearfix
.cf::after {
  content: "";
  display: table;
  clear: both;
}




/// --------------------------------------------------------------
/// # 요소(Elements) + 부트 스트랩
/// --------------------------------------------------------------
.text-danger {
  color: get-color('error' '');
}



/// --------------------------------------------------------------
/// # 요소(Elements) + 부트 스트랩
/// --------------------------------------------------------------


/* form-caption
*/
.form-caption {
  $h: 24px;

  margin-bottom: 0;
  @include position( absolute, t calc($h * -1) l 0 );
  display: block;

  width: 100%;
  height: $h;
  line-height: $h;
  
  & > label { @extend %text-caption; }

  &.underline {
    $h: $h + 6;
    top: calc($h * -1);

    &::after {
      content : "";
      @include position( absolute, b 0 l 0 );
      width: 100%;
      height: 1px; 
      background-color: var(--app-color-primary);
    }
  } // &.underline
}


/* form-control 
*/
.form-control {
  @include position( relative );
  background-color: var(--app-color-bg-100);
}




body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
}




/// --------------------------------------------------------------
/// # 요소(Elements)
/// --------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  
  &.headline { 
    font-weight: bold;
    color: var( --app-color-primary );
  }

}

/// a 링크 
a.link {

  cursor: pointer;

  &.link-icon {
    
    img.link-icon-img {
      display: block;
      width: auto;
      height: auto;
    }

  }
  &.link-icon:hover {
    img.link-icon-img { opacity: 0.6; }
  }

}

/// a 용어(Term) 
a.term {
  &[href] { cursor: pointer; }
  
  @include position(relative);
  display: block;
  background-color: var(--app-color-bg-300);
  // text-decoration: none;

}



/// --------------------------------------------------------------
/// # 검포넌트 (Components)
/// --------------------------------------------------------------

.block-not-found {
  p { color: get-color("text" "caption"); }
}