@charset 'UTF-8';

/// --------------------------------------------------------------
/// # 메인 컨텐츠 <main> 
/// --------------------------------------------------------------
/// - .app-content 
/// - #content
/// - #chat-content
/// --------------------------------------------------------------

.app-content {
  // &-wrap{}
}

#content {
  @include position( relative, z 1 );
  width: 100%;
  height: 100%;
  
  // # grid-container( $rows:number, $cols:number, $gap:number, $align:list, $auto:list, $areas:list)
  @include grid-c( 1, 1, 0, f row-dense, justify-items-start items-stretch self-stretch );
  
  & > * { width: 100%; }
  .app-content-inner { min-height: 100%; }

  section { @include position( relative ); }

  // .content-title
  .content-title {
    &-wrap { margin-bottom: 50px; }

    $c-font: get-color( "primary" "" );
    color: $c-font;
    font-weight: bold;

    @extend %tracking-in-contract;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @extend %linear-gradient-def;
    background-size: 200% 200%;

    @include set-prefix( animation, bg-gradient 7.5s ease infinite, 'webkit' '' );
    
  } // .content-title
}



/// --------------------------------------------------------------
/// 채팅 세션 (Chat Session)
/// --------------------------------------------------------------
/// - .home / .c
/// --------------------------------------------------------------

body:is(.home, .c) .app-content {
  // &#content {}
}


/* 채팅 컨텐츠 영역
*/
#chat-content {

  $thumb-size : 48px;
  
  .chat-content-item { margin-bottom: 20px; }

  // 채팅 메시지
  .chat-message {

    max-width: calc(100% - $thumb-size);

    mark { 
      @include position(relative, z 1);
      background-color: transparent;
      font-weight: bold; 
      
      &::before {
        content: "";
        @include position( absolute, l 0 b 0 z -1 );
        width: 100%;
        height: 50%;
        background-color: get-color("success" "");
        opacity: 0.5;
      }
    }

    // OCR 이미지 
    .ocr-resource {

      &-wrap { 
        @include position(relative);
        padding: 2em 0; 

        &::before {
          content: "";
          @include position( absolute, t 1em l 0 );
          width: 100%;
          height: 1px; 
          background-color: get-color("br" "300");
        }
      }
      &-img { max-width: 100%; @extend %scale-in-center; }

    } // .ocr-resource

    // 채팅 메시지 > 내용 
    .chat-message {

      // 채팅 메시지 : 메타 
      &-row-meta {
        
        padding-left: $thumb-size;
        font-size: 0.75rem;

        /// 
        /// 용어 및 카테고리 
        /// 
        .chat-term {

          .chat-term-item {  
            display: inline-block;
            padding: 0.25em 0.5em;
            margin : 0 0.5em 0.5em 0 ;
            
            border-radius: 0.25em;

            @extend %scale-in-center;
          }

          @for $i from 1 through 10 {
            $delay: ($i - 1) * 0.1;
            .chat-term-item:nth-child(#{$i}) { @include set-prefix( animation-delay, #{$delay}s, 'webkit' '' );  }
          }

        } // .chat-term

        // 용어 및 카테고리 : 카테고리
        .chat-term.term-type-category {
          .chat-term-item {  
            background-color: rgba( #289EFF, 50% );
            color: get-color('white' '');
          }
        }

        // 용어 및 카테고리 : 키워드
        .chat-term.term-type-keywords {
          .chat-term-item {  

            $c: #289EFF;

            border-width: 1px;
            border-color: rgba( $c, 100% );
            border-style: solid;
            color: $c;
          }
        } 

        /// 
        /// 정보 : *
        ///
        .chat-info {

          &__title {
            $c-br: get-color("br" "200");
            $c-font: get-color('black' '600');

            padding: 0.5em 0;
            
            color: $c-font;
            font-size: 0.875rem; 
            font-weight: bold; 

            border-top: 1px solid #{$c-br};
            border-bottom: 1px solid #{$c-br};

            i[class^="fa-"] { margin-right: 0.5em; }
          }

        }

        // 정보 : 유튜브 영상
        .chat-info.info-type-video {
          background-color: get-color('white' '');
          padding: 1em;

          
          // 카드 : 비디오 
          .entry-card.type-video {

            width: 100%;
            @include flex-container-append( column );

            .entry-card- {
              
              &thumb { width: 100%; max-width: none; }
              &thumb { margin-bottom: 1em; }
              
              &content p:last-child{ margin-bottom: 0; }

              // 카드: 타이틀 
              &title { 
                @include line-clamp( 1.25em, $line-height: 1.5, $line-clamp: 1 );
              }

              &info {  
                font-size: 0.875em;
                color: get-color( 'text' 'bodysub' );
              }

              // 카드 : 설명
              &description { display: none; }

              // &title { 
              //   $fs: 1.5em;
          
              //   font-size: $fs;
              //   @include line-clamp( #{$fs}, $line-height: 1.5, $line-clamp: 2 );
          
              // }
          
              // // 카드: 설명
              // &description {
              //   $fs: 1em;
          
              //   font-size: $fs;
              //   @include line-clamp( #{$fs}, $line-height: 1.5, $line-clamp: 4 );
              // }

              // &info { color: #ff0; }
            }

          } // .entry-card


          & > ul {
            margin: 0;
            @include grid-c( 1, 3, 20, f row-dense, justify-items-start items-stretch self-stretch, "content" );

            // @ 애니메이션 지정
            & > li.chat-info-item { @extend %scale-in-center;  }

            @for $i from 1 through 6 {
              $delay: ($i - 1) * 0.1;
              & > .chat-info-item:nth-child(#{$i}) {  @include set-prefix(  animation-delay, #{$delay}s, 'webkit' '' ); }
            }
          }
          
          
        } // .info-type-video

        // 메타: 하단(Bottom)
        &.meta-bottom {
          .chat-term .chat-term-item { margin : 0.5em 0.5em 0 0; }
        }


      } // 채팅 메시지 : 메타 

      // 채팅 메시지 : 썸네일
      &__thumb {

        $s : $thumb-size;
        @include position( relative );
        overflow: hidden;

        width: $s;
        height: $s;

        border-radius: 100%;
        background-color: get-color('primary' '');

        @extend %jello-horizontal;

        &-img { display: block; }

        &-img:is(img) {
          // @include position( absolute, l 50% t 50%);
          width: 100%;
          height: 100%;

          // @include set-prefix( transform, translate( -50%, -50% ), 'webkit' '' );
        }
        & > a { position: absolute; display: block; }
        &-img:is(.im, .fa-user) { 
          $s: $s - 16px;
          margin: 8px;
          color: get-color('white' '');
          width: $s;
          height: $s;
          font-size: $s;
          text-align: center;

          &::before {
            // display: block;
            min-width: inherit;
            height: auto;
          }
        }
        
       

      } // 채팅 메시지 : 썸네일

      // 채팅 메시지 : 컨텐츠
      &__content {

        @include position(relative);

        &-mbox { padding: 12px; line-height: 24px; }

        // &-mbox {}
        &-mbox > *:last-child { margin-bottom: 0; }
        &-mbox.type-bubble { 
          background-color:  get-color('bg' '300'); 
          font-weight: 500;
        }

        .loaderbox { 
          @include position( static );
          backdrop-filter: none; 
          background-color: transparent; 

          .loader { width: 24px; height: 24px; }
        }
        // .loaderbox 
       
      } // 채팅 메시지 : 컨텐츠

      &-row-meta, &__content { margin-left: 20px; }

    } // .chat-message*

    .chat-message-row-body {

      .chat-message__content { margin-left: calc($thumb-size + 20px); }

      .chat-message__content-mbox {
        font-size: 1em;
        color: get-color( "text" "bodysub" );
        p { margin-bottom: 0.5em; }
        
      }

      .chat-message__content-mbox .messages { 

        *[itemprop="headline"] {
          
          color: get-color('black' '600');
          font-size: 0.875em; 
          font-weight: bold; 

          i[class^="fa-"] { margin-right: 0.5em; }

        }

      }

    } // .chat-message-row-body

  } // .chat-message

  // 채팅 메시지 : 사용자 
  div[data-type="user"] .chat-message {

    margin-left: auto;
    @include flex-container-append( items-end );

    .chat-message {

      // 채팅 메시지 : 메타 
      &-row-meta {
        padding-left: 0;
        padding-right: $thumb-size; 

        .chat-term .chat-term-item { margin : 0 0 0.5em 0.5em; }

        .chat-term.term-type-category {
          .chat-term-item { background-color: rgba( #FFB901, 50% ); }
        } // .chat-term

        &.meta-bottom {
          .chat-term .chat-term-item { margin : 0.5em 0 0 0.5em; }
        }
      }

      &-row-meta, &__content { margin-right: 20px; }

    } // .chat-message


  } // [data-type="user"]

  &:not([data-pending="1"]) .chat-content-item[data-type="bot"]:last-child {
    display: none;
  }

  // @ 미디어 쿼리 
  @include media( "<#{get-breakpoints('lg')}"  ){ // 모바일 
    $thumb-size : 36px;

    div {

      // 채팅 메시지 : 일반 및 봇 
      .chat-message {
        max-width: 100%;

        .chat-message {

          &-row-meta { padding-left: $thumb-size;  } // &-row-meta

          // 정보 : 유튜브 영상
          &-row-meta .chat-info.info-type-video {
            
            & > ul {
              @include grid-c( 1, 1, 20, f row-dense, justify-items-start items-stretch self-stretch, "content" );
            }

            .entry-card.type-video {
              @include flex-container-append( row );

              .entry-card-{
                &thumb { width: 25%; margin-bottom: 0; }
                // &description { display: block; }
              }
            }

          }

          // 채팅 메시지 : 썸네일
          &__thumb {
            $s : $thumb-size;
            width: $s;
            height: $s;

            &-img:is(img) {
              min-width: $s;
              min-height: $s;  
            }

            &-img:is(.im) { 
              $s: $s - 16px;
              width: $s;
              height: $s;
              font-size: $s;
            }
          }

          &-row-meta, &__content { margin-left: 10px; }
        }

        .chat-message-row-body {

          .chat-message__content { margin-left: calc($thumb-size + 10px); }
    
        } // .chat-message-row-body

        
      } // .chat-message

      // 채팅 메시지: "봇"
      &[data-type="bot"] .chat-message {
        
        .chat-message-row-meta { 
          margin-left: 0; 
          padding-left: 0;  
        }

        .chat-message-row-body {
          .chat-message__content { margin-left: 0;  }
        }
        
      }

      // 채팅 메시지: "사용자"
      &[data-type="user"] .chat-message {

        .chat-message-row-meta { 
          margin-right: 0;
          padding-right: 0;  
        }

        .chat-message__content { margin-right: 10px; }
        
      }
    } 

  }

  // *** 임시 여백 
  padding-bottom: 120px; // *** 임시
  @include media( "<#{get-breakpoints('lg')}"  ){ padding-bottom: 100px; }

}



/// --------------------------------------------------------------
/// 로그인
/// --------------------------------------------------------------
body.login #content,
body.signin #content {
  
  // <section> : signin
  section#signin { height: 100%; }

}


/// --------------------------------------------------------------
/// 채팅 세션(Chat Sessions)
/// --------------------------------------------------------------

body:is( .sessions ) {


  // <section> : chat-sessions
  section#chat-sessions {

    #chat-sessions-list {

      ul.menu-list {

        li.menu-item,
        li.menu-item > * { width: 100%; }

        li.menu-item { 
          overflow: hidden;
          @include position( relative );

          margin: auto auto 0.5em; 
          background-color: get-color( "white" "100" );
          font-size: 1rem;
          border-color: #d2d6da;
          border-style: solid;
          border-width: 1px;
     
          
          // 엔트리 아이템 (공통)
          & > a {
            padding: 1em;
            @include set-prefix( transform-style, preserve-3d, 'webkit' '' );
            @include set-prefix( transition, all .3s cubic-bezier(.25,.46,.45,.94), 'webkit' '' );


            &:nth-child(1) {
              @include set-prefix( transform-origin, top center, 'webkit' '' );

              $c-bg: get-color( "white" "" );
              background-color: $c-bg;
            }

            &:nth-child(2) {
              // padding: 1em;
              @include position( absolute, l 0 t 0 );
              @include set-prefix( transform-origin, bottom center, 'webkit' '' );
              @include set-prefix( transform, rotateX(90deg) translateY(50%), 'webkit' '' );
              
              width: 100%;

              $c-bg: get-color( "primary" "" );
              background-color: rgba($c-bg, 1);

              .entry-card {

                $c-f: get-color('white' '');
                $c-f-sub: get-color('secondary' '');
                color: $c-f;

                .entry-card- {
                  // &meta, 
                  &excerpt { color: $c-f-sub; }
                }
              }
            }
          } // & > a 

          &:hover > a {
            &:nth-child(1) {
             
              @include set-prefix( transform, rotateX(90deg) translateY(-50%), 'webkit' '' );
            }
            &:nth-child(2) {
              @include set-prefix( transform, rotateX(0) translateY(0), 'webkit' '' );
            }
          } // &:hover > a



        }

        // li.menu-item {
        //   @include set-prefix(  
        //     transition, 
        //     ( box-shadow 0.4s cubic-bezier(.25,.46,.45,.94) ),
        //     'webkit' ''
        //   );
        // }

        // li.menu-item:not(:hover) { box-shadow:0 0 20px 0 rgba(0,0,0,.25); }

        // li.menu-item:hover {
        //   // @extend %shadow-drop-center;

          
        // }

      } // ul.menu-list

      .block-not-found {
        
        
        text-align: center;
        line-height: 2em;
        
      }
    
    } // #chat-sessions-list
     
  } // <section> : chat-sessions

}



/// --------------------------------------------------------------
/// 포스트 : 에디터
/// --------------------------------------------------------------
body.page:is( .post.edit, .post-edit ) {
  
}