@charset 'UTF-8';

/// --------------------------------------------------------------
/// # 메인 컨텐츠 <main> 
/// --------------------------------------------------------------
/// - .app-content 
/// - #content
/// - #chat-content
/// --------------------------------------------------------------

.app-content {
  // &-wrap{}
}

#content {
  @include position( relative, z 1 );
  width: 100%;
  height: 100%;
  
  // # grid-container( $rows:number, $cols:number, $gap:number, $align:list, $auto:list, $areas:list)
  @include grid-c( 1, 1, 0, f row-dense, justify-items-start items-stretch self-stretch );
  
  & > * { width: 100%; }
  .app-content-inner { min-height: 100%; }

  section { @include position( relative ); }
}



/// --------------------------------------------------------------
/// 채팅 세션 (Chat Session)
/// --------------------------------------------------------------
/// - .home / .c
/// --------------------------------------------------------------

body:is(.home, .c) .app-content {
  // &#content {}
}


/* 채팅 컨텐츠 영역
*/
#chat-content {

  $thumb-size : 48px;
  
  .chat-content-item { margin-bottom: 20px; }

  // 채팅 메시지
  .chat-message {

    max-width: calc(100% - $thumb-size);

    // 채팅 메시지 > 내용 
    .chat-message {

      // 채팅 메시지 : 메타 
      &-row-meta {
        
        padding-left: $thumb-size;
        font-size: 0.75rem;

        .chat-term {

          .chat-term-item {  
            display: inline-block;
            padding: 0.25em 0.5em;
            margin : 0 0.5em 0.5em 0 ;
            
            border-radius: 0.25em;

            @extend %scale-in-center;
          }

          @for $i from 1 through 10 {
            $delay: ($i - 1) * 0.1;
            .chat-term-item:nth-child(#{$i}) { @include set-prefix( animation-delay, #{$delay}s, 'webkit' '' );  }
          }

        } // .chat-term

        .chat-term.term-type-category {
          .chat-term-item {  
            background-color: rgba( #289EFF, 50% );
            color: get-color('white' '');
          }
        }

        .chat-term.term-type-keywords {
          .chat-term-item {  

            $c: #289EFF;

            border-width: 1px;
            border-color: rgba( $c, 100% );
            border-style: solid;
            color: $c;
          }
        } 

        &.meta-bottom {
          .chat-term .chat-term-item { margin : 0.5em 0.5em 0 0; }
        }


      } // 채팅 메시지 : 메타 

      // 채팅 메시지 : 썸네일
      &__thumb {

        $s : $thumb-size;
        @include position( relative );
        overflow: hidden;

        width: $s;
        height: $s;

        border-radius: 100%;
        background-color: get-color('primary' '');

        @extend %jello-horizontal;

        &-img { display: block; }

        &-img:is(img) {
          @include position( absolute, l 50% t 50%);
          width: auto;
          height: 100%;
          min-width: $s;
          min-height: $s;

          @include set-prefix( transform, translate( -50%, -50% ), 'webkit' '' );
        }

        &-img:is(.im) { 
          $s: $s - 16px;
          margin: 8px;
          color: get-color('white' '');
          width: $s;
          height: $s;
          font-size: $s;
        }
        
       

      } // 채팅 메시지 : 썸네일

      // 채팅 메시지 : 컨텐츠
      &__content {

        @include position(relative);

        &-mbox { padding: 12px; line-height: 24px; }

        // &-mbox {}
        &-mbox > *:last-child { margin-bottom: 0; }
        &-mbox.type-bubble { 
          background-color:  get-color('bg' '300'); 

          font-weight: 500;
          
        }

        .loaderbox { 
          @include position( static );
          backdrop-filter: none; 
          background-color: transparent; 

          .loader { width: 24px; height: 24px; }
        }
        // .loaderbox 
       
      } // 채팅 메시지 : 컨텐츠

      &-row-meta, &__content { margin-left: 20px; }

    } // .chat-message*

    .chat-message-row-body {

      .chat-message__content { margin-left: calc($thumb-size + 20px); }

      .chat-message__content-mbox {
        font-size: 1em;
        color: get-color( "text" "bodysub" );
        p { margin-bottom: 0.5em; }
        
      }

      .chat-message__content-mbox .messages { 

        *[itemprop="headline"] {
          
          color: get-color('black' '600');
          font-size: 0.875em; 
          font-weight: bold; 

          i[class^="fa-"] { margin-right: 0.5em; }

        }

      }

    } // .chat-message-row-body

  } // .chat-message

  // 채팅 메시지 : 사용자 
  div[data-type="user"] .chat-message {

    margin-left: auto;
    @include flex-container-append( items-end );

    .chat-message {

      // 채팅 메시지 : 메타 
      &-row-meta {
        padding-left: 0;
        padding-right: $thumb-size; 

        .chat-term .chat-term-item { margin : 0 0 0.5em 0.5em; }

        .chat-term.term-type-category {
          .chat-term-item { background-color: rgba( #FFB901, 50% ); }
        } // .chat-term

        &.meta-bottom {
          .chat-term .chat-term-item { margin : 0.5em 0 0 0.5em; }
        }
      }

      &-row-meta, &__content { margin-right: 20px; }

    } // .chat-message


  } // [data-type="user"]

  &:not([data-pending="1"]) .chat-content-item[data-type="bot"]:last-child {
    display: none;
  }

  // @ 미디어 쿼리 
  @include media( "<#{get-breakpoints('lg')}"  ){ // 모바일 
    $thumb-size : 36px;
    

    // 채팅 메시지 : 일반 및 봇 
    .chat-message {
      max-width: 100%;

      .chat-message {

        &-row-meta { padding-left: $thumb-size;  }

        // 채팅 메시지 : 썸네일
        &__thumb {
          $s : $thumb-size;
          width: $s;
          height: $s;

          &-img:is(img) {
            min-width: $s;
            min-height: $s;  
          }

          &-img:is(.im) { 
            $s: $s - 16px;
            width: $s;
            height: $s;
            font-size: $s;
          }
        }

        &-row-meta, &__content { margin-left: 10px; }
      }

      .chat-message-row-body {

        .chat-message__content { margin-left: calc($thumb-size + 10px); }
  
      } // .chat-message-row-body

      
    } // .chat-message

    // 채팅 메시지 : 사용자 
    div[data-type="user"] .chat-message {
      .chat-message {

        &-row-meta { padding-right: $thumb-size;  }

        &-row-meta, &__content { margin-right: 10px; }
      }

     
      
    }
  }


  // *** 임시 여백 
  padding-bottom: 120px; // *** 임시
  @include media( "<#{get-breakpoints('lg')}"  ){ padding-bottom: 100px; }



}



/// --------------------------------------------------------------
/// 로그인
/// --------------------------------------------------------------
body.login #content,
body.signin #content {
  
  // <section> : signin
  section#signin { height: 100%; }

}


